
.form-btn {
  background-color: darkblue;
  /* line-height: 42px; */
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  font-family: poppins;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}
/* .form-btn:hover {
  background: transparent;
  color: darkblue;
  border-color: darkblue;
} */
.form-btn:focus {
  outline: none;
}
.primary-btn:focus {
  outline: none;
}

.primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}


.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.banner-area {
  background-color: rgb(255, 255, 255);
  background-size: cover;
}

.banner-area .primary-btn {
  padding-left: 30px;
  padding-right: 30px;
}

.banner-area .overlay-bg {
  background-color: #a1aaf6;
}

.banner-content h2 {
  color: rgb(255, 255, 255);
  font-family: "poppins", sans-serif;
  font-size: 70px;
  /* font-weight: 100; */
  line-height: 1em;
}
.banner-content h3 {
  color: rgb(255, 255, 255);
  font-family: "poppins", sans-serif;
  word-spacing: 3px;
}

@media (max-width: 768px) {
  .banner-content h2 {
    font-size: 50px;
  }
  .banner-content h3 {
    font-size: 20px;
  }
  .form-btn
  {
    height:30px;
  }
}

@media (max-width: 767px) {
  .banner-content h1 {
    margin-top: 50px;
  }
}

@media (max-width: 960px) {
  .banner-content br {
    display: none;
  }
}

.bird {
  animation: anime 0.75s infinite linear alternate;
}

.sac {
  animation: anime 1s infinite linear alternate;
}

.girl1,
.books {
  animation: anime 0.75s infinite linear alternate 1s;
}

@keyframes anime {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
